In [40]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import traceback

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,The Valley,AI,2020-04-16 23:48:05,18.22,-63.06,80.60,74,40,9.17
1,1,Punta Arenas,CL,2020-04-16 23:50:48,-53.15,-70.92,50.00,87,75,9.17
2,2,Wanaka,NZ,2020-04-16 23:50:48,-44.70,169.15,54.10,63,92,4.54
3,3,New Norfolk,AU,2020-04-16 23:50:19,-42.78,147.06,51.80,53,75,21.92
4,4,Rikitea,PF,2020-04-16 23:50:50,-23.12,-134.97,76.37,75,24,12.77

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,The Valley,AI,2020-04-16 23:48:05,18.22,-63.06,80.60,74,40,9.17
4,4,Rikitea,PF,2020-04-16 23:50:50,-23.12,-134.97,76.37,75,24,12.77
8,8,Vaini,TO,2020-04-16 23:50:14,-21.20,-175.20,80.60,74,75,4.70
10,10,Hithadhoo,MV,2020-04-16 23:50:22,-0.60,73.08,84.54,70,68,6.69
11,11,Tautira,PF,2020-04-16 23:50:52,-17.73,-149.15,89.60,62,8,10.29
13,13,Maraba,BR,2020-04-16 23:49:12,-5.37,-49.12,80.60,100,20,3.36
15,15,Kapaa,US,2020-04-16 23:48:29,22.08,-159.32,82.40,65,20,12.75
21,21,Faanui,PF,2020-04-16 23:50:36,-16.48,-151.75,83.26,66,15,9.71
22,22,Dicabisagan,PH,2020-04-16 23:50:56,17.08,122.42,79.47,78,81,2.44
25,25,Hilo,US,2020-04-16 23:47:55,19.73,-155.09,78.80,57,90,11.99

In [23]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
0    The Valley      AI     80.60  18.22  -63.06
4       Rikitea      PF     76.37 -23.12 -134.97
8         Vaini      TO     80.60 -21.20 -175.20
10    Hithadhoo      MV     84.54  -0.60   73.08
11      Tautira      PF     89.60 -17.73 -149.15
13       Maraba      BR     80.60  -5.37  -49.12
15        Kapaa      US     82.40  22.08 -159.32
21       Faanui      PF     83.26 -16.48 -151.75
22  Dicabisagan      PH     79.47  17.08  122.42
25         Hilo      US     78.80  19.73 -155.09

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        traceback.print_exc()
        print("Hotel not found... skipping.")

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

Traceback (most recent call last):
  File "<ipython-input-41-17fca176cdd4>", line 22, in <module>
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
IndexError: list index out of range

Hotel not found... skipping.

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))