In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import traceback
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Import the CSV created in part two into a DataFrame.
hotel_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
hotel_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hilo,US,78.80,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,4,Uthal,PK,77.49,overcast clouds,25.81,66.62,Al Madina Hotal
2,7,Bambous Virieux,MU,77.00,scattered clouds,-20.34,57.76,Casa Tia Villa
3,8,Caravelas,BR,76.10,scattered clouds,-17.71,-39.25,Pousada dos Navegantes
4,14,Vaini,TO,78.80,few clouds,-21.20,-175.20,Keleti Beach Resort

In [86]:
# Filter the DataFrame for each city you want to go to and create separate DataFrames for each city
city1 = hotel_data_df[hotel_data_df["City"] == "Santa Isabel"]
city2 = hotel_data_df[hotel_data_df["City"] == "Sao Joao Da Barra"]
city3 = hotel_data_df[hotel_data_df["City"] == "Vila Velha"]
city4 = hotel_data_df[hotel_data_df["City"] == "Caravelas"]
city2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
77,407,Sao Joao Da Barra,BR,78.8,broken clouds,-21.64,-41.05,Pousada Porto De Canoas

In [87]:
# Get the latitude-longitude pairs for each city DataFrame as tuples.
city1_coordinates = (city1["Lat"].values[0], city1["Lng"].values[0])
city2_coordinates = (city2["Lat"].values[0], city2["Lng"].values[0])
city3_coordinates = (city3["Lat"].values[0], city3["Lng"].values[0])
city4_coordinates = (city4["Lat"].values[0], city4["Lng"].values[0])
city1_coordinates

(-23.32, -46.22)

In [94]:
# Get directions between cities
fig = gmaps.figure()
city1_city2 = gmaps.directions_layer(city1_coordinates, city2_coordinates, travel_mode='DRIVING')
city2_city3 = gmaps.directions_layer(city2_coordinates, city3_coordinates, travel_mode='DRIVING')
city3_city4 = gmaps.directions_layer(city3_coordinates, city4_coordinates, travel_mode='DRIVING')
fig.add_layer(city1_city2)
fig.add_layer(city2_city3)
fig.add_layer(city3_city4)
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
selected_cities_df = city1.append(city2)
selected_cities_df = selected_cities.append(city3)
selected_cities_df = selected_cities.append(city4)
selected_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
101,497,Santa Isabel,BR,75.20,scattered clouds,-23.32,-46.22,Chácara Sombra do Altíssimo
77,407,Sao Joao Da Barra,BR,78.80,broken clouds,-21.64,-41.05,Pousada Porto De Canoas
9,36,Vila Velha,BR,78.01,scattered clouds,-20.33,-40.29,Hotel Vitória Palace
3,8,Caravelas,BR,76.10,scattered clouds,-17.71,-39.25,Pousada dos Navegantes
3,8,Caravelas,BR,76.10,scattered clouds,-17.71,-39.25,Pousada dos Navegantes

In [102]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in selected_cities_df.iterrows()]

In [103]:
# Create a marker layer map for the 4 cities with a pop-up marker for each city.
locations = selected_cities_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))